---
import PostHog from "../components/posthog.astro";
import Layout from "./Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <PostHog />
    <Layout />
  </head>
  <body>
    <slot />
  </body>
</html>
